@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url('DINNextLTPro-Light.eot');
  src: url('DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
       url('DINNextLTPro-Light.woff2') format('woff2'),
       url('DINNextLTPro-Light.woff') format('woff'),
       url('DINNextLTPro-Light.ttf') format('truetype'),
       url('DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url('DINNextLTPro-Regular.eot');
  src: url('DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('DINNextLTPro-Regular.woff2') format('woff2'),
       url('DINNextLTPro-Regular.woff') format('woff'),
       url('DINNextLTPro-Regular.ttf') format('truetype'),
       url('DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: url('DINNextLTPro-Medium.eot');
  src: url('DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('DINNextLTPro-Medium.woff2') format('woff2'),
       url('DINNextLTPro-Medium.woff') format('woff'),
       url('DINNextLTPro-Medium.ttf') format('truetype'),
       url('DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro-Italic';
  src: url('DINNextLTPro-Italic.eot');
  src: url('DINNextLTPro-Italic.eot?#iefix') format('embedded-opentype'),
       url('DINNextLTPro-Italic.woff2') format('woff2'),
       url('DINNextLTPro-Italic.woff') format('woff'),
       url('DINNextLTPro-Italic.ttf') format('truetype'),
       url('DINNextLTPro-Italic.svg#DINNextLTPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DINNextLTPro-Bold';
  src: url('DINNextLTPro-Bold.eot');
  src: url('DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('DINNextLTPro-Bold.woff2') format('woff2'),
       url('DINNextLTPro-Bold.woff') format('woff'),
       url('DINNextLTPro-Bold.ttf') format('truetype'),
       url('DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'DINNextSlabPro-Medium';
  src: url('DINNextSlabPro-Medium.eot');
  src: url('DINNextSlabPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('DINNextSlabPro-Medium.woff2') format('woff2'),
       url('DINNextSlabPro-Medium.woff') format('woff'),
       url('DINNextSlabPro-Medium.ttf') format('truetype'),
       url('DINNextSlabPro-Medium.svg#DINNextSlabPro-Medium') format('svg');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextSlabPro-Light';
  src: url('DINNextSlabPro-Light.eot');
  src: url('DINNextSlabPro-Light.eot?#iefix') format('embedded-opentype'),
       url('DINNextSlabPro-Light.woff2') format('woff2'),
       url('DINNextSlabPro-Light.woff') format('woff'),
       url('DINNextSlabPro-Light.ttf') format('truetype'),
       url('DINNextSlabPro-Light.svg#DINNextSlabPro-Light') format('svg');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextSlabPro-Bold';
  src: url('DINNextSlabPro-Bold.eot');
  src: url('DINNextSlabPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('DINNextSlabPro-Bold.woff2') format('woff2'),
       url('DINNextSlabPro-Bold.woff') format('woff'),
       url('DINNextSlabPro-Bold.ttf') format('truetype'),
       url('DINNextSlabPro-Bold.svg#DINNextSlabPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextSlabPro-Regular';
  src: url('DINNextSlabPro-Regular.eot');
  src: url('DINNextSlabPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('DINNextSlabPro-Regular.woff2') format('woff2'),
       url('DINNextSlabPro-Regular.woff') format('woff'),
       url('DINNextSlabPro-Regular.ttf') format('truetype'),
       url('DINNextSlabPro-Regular.svg#DINNextSlabPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}





/* ==========================================================================
   Author's custom styles
   ========================================================================== */
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
